<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>oumaimaChamri</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Authentification</display-name>
    <servlet-name>Authentification</servlet-name>
    <servlet-class>com.sia.controller.Authentification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentification</servlet-name>
    <url-pattern>/Authentification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Capital</display-name>
    <servlet-name>Capital</servlet-name>
    <servlet-class>com.sia.controller.Capital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Capital</servlet-name>
    <url-pattern>/Capital</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Annuitee</display-name>
    <servlet-name>Annuitee</servlet-name>
    <servlet-class>com.sia.controller.Annuitee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Annuitee</servlet-name>
    <url-pattern>/Annuitee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Duree</display-name>
    <servlet-name>Duree</servlet-name>
    <servlet-class>com.sia.controller.Duree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Duree</servlet-name>
    <url-pattern>/Duree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inscription</display-name>
    <servlet-name>inscription</servlet-name>
    <servlet-class>com.sia.controller.inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Save</display-name>
    <servlet-name>Save</servlet-name>
    <servlet-class>com.sia.controller.Save</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Save</servlet-name>
    <url-pattern>/Save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>traitement</display-name>
    <servlet-name>traitement</servlet-name>
    <servlet-class>com.sia.controller.traitement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>traitement</servlet-name>
    <url-pattern>/traitement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.sia.controller.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>